.footer {
    background-color: #172337;
    color: white;
    padding-top: 40px;
    margin-top: 40px;
    font-size: 0.8rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.5fr;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #454d5e;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: #878787;
    margin-bottom: 12px;
    font-size: 0.75rem;
    font-weight: 500;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-social-links {
    display: flex;
    gap: 12px;
}

.footer-contact-col p {
    line-height: 1.5;
}

.footer-bottom {
    padding: 25px 0;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-payments img {
    max-width: 100%;
}

@media (max-width: 1024px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-bottom-content {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}